/* You can add global styles to this file, and also import other style files */

* {
    margin: 0px;
    padding: 0px;
}

.tittle {
    text-size-adjust: 18;
    font-family: "Calibri";
    font-weight: bold;
}

.subtittle {
    text-size-adjust: 14;
    font-family: "Calibri";
}

.normaltext {
    text-size-adjust: 12;
    font-family: "Calibri";
}