/* You can add global styles to this file, and also import other style files */

.cardbody-color {
    background-color: #ebf2fa;
}

.bordesolido {
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
}