@import "../../../styles.scss";

.cardbody-color {
    background-color: #A3A4A6;
}

.divcontlogin{
  align-items: center;
  justify-content: center;
  margin-top: 128px;
}

.bordesolido {
    border-color: #aaaaaa;
    border-width: 1px;
    border-style: solid;
}

.bordesbody {
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
    margin-top: 65px;
}


.end {
    margin-right: 39px;
}


.color {
    color: white;
}

.bgcolor {
    background-color: white;
}

.typehdlogin {
    position: relative;

    width: 120%;
    height: 30%;
    background-color: #0c2b55;
}
