<div style="background-color: #336DFF">
  <div class="d-flex bd-highlight mb-2">
    <div class="me-auto p-2 bd-highlight"></div>

    <div class="p-2 bd-highlight">
      <a href="# ">
        <img src="assets/img/logo.jpg" style="width: 120px;height: 120px;" class="d-inline-block align-top pr-4" alt="logo" loading="lazy">
      </a>
    </div>
  </div>

  <div  class="d-flex bd-highlight mb-3">
    <div class="me-auto p-2 bd-highlight"></div>
    <div class="col-2 p-2 bd-highlight d-flex justify-content-center">Hi, {{ name }}</div>
    <div class="p-2 bd-highlight"><a href="# ">Logout</a></div>
  </div>


  <table style=" border: 1px solid;width: 100%; ">
    <tr style="padding-top: 15px; ">
      <td style="width: 30%;text-align: end;padding-top:10px; padding-bottom:10px; ">
        <button style="width: 10%;text-align: center;"  type="submit" style="cursor:hand" mat-flat-button class="btncolorchange btnwidth" (click)="gotoProducts() ">
          Products
        </button>
      </td>

      <td style="width: 30%;text-align: center; ">
        <button style="text-align: center; " type="submit" style="cursor:hand" mat-flat-button class="btncolorchange btnwidth" (click)="gotoCategorys() ">
          Categories
        </button>

      </td>
      <td style="width: 80%;text-align: right; "></td>
    </tr>
  </table>
  <hr style="height:2px;border-width:0;color:white;background-color:white ">


</div>
