<table>      
    <tr>
        <td style="width: 70%;"></td>
        <td style="width: 25%;"> </td>
        <td style="width: 5%;"><img  src="assets/img/logo.jpg" style="width: 50px;height: 50px;" class="d-inline-block align-top pr-4"   alt="logo" loading="lazy"></td>
    </tr>      
</table>
    <table>
        <tr>
            <td style="width: 70%;"></td>
            <td style="width: 25%;text-align: left;">Hi,{{name}}</td>
            <td style="width: 5%;text-align: right;"><a href="#">Logout</a></td>
        </tr>      
    </table>
  
  
    <table style=" border: 1px solid;width: 100%;">
        <tr style="padding-top: 15px;">
            <td style="width: 10%;text-align: center;padding-top:10px; padding-bottom:10px;">  <input type="button" value="Products" style="background-color: rgb(2, 139, 255);color:aliceblue;" (click)="gotoProducts()" ></td>
            <td style="width: 10%;text-align: center;">  <input type="button" value="Categorys" style="background-color: aliceblue;color:rgb(2, 139, 255);"  (click)="gotoCategorys()"></td>
            <td style="width: 80%;text-align: right;"></td>
        </tr>      
    </table>
    <hr style="height:2px;border-width:0;color:white;background-color:white">
