<app-header></app-header>

<table style="width: 100%;" class="alinearfin">
    <tr>
        <td style="width: 90%;text-align:right;" ><input type="text" class="normaltext" placeholder="Search by Id, Name or Description" size="40" (keyup)="search($event)"></td>
        <td style="width: 5%;text-align:left"><img src="../../../assets/img/search.png" style="width: 20px;height:20px"></td>
        <td style="width: 5%;text-align:right"><input type="button" class="acnlag bordesbheader btncolorchange" style="width: 200px;" value="Add Category" (click)="addCategory()"></td>
    </tr>
</table>

<body class="bordesbody">



    <form>


        <div class="row">
            <div class="col">

                <table class="table table-bordered border-dark mt-3">
                    <thead >
                        <tr class="tittle">                           
                            <th  width="20px" style="text-align: center;" > ID </th>
                            <th  width="130px;" style="text-align: center;"> Name </th>
                            <th  width="450px;" style="text-align: center;"> Description </th>
                            <th  width="80px;" style="text-align: center;">Edit</th>
                            <th  width="80px;" style="text-align: center;">Delete</th>
                        </tr>
                    </thead>
                    <tbody >
                        <tr class="normaltext" *ngFor=" let category of categorias">
                            <td  style="text-align: center;">{{category.id}}</td>
                            <td  style="text-align: center;">{{category.name}}</td>
                            <td style="text-align: center;">{{category.description}}</td>
                            <td  style="text-align: center">
                                <input type="button" class="bordesbheader acnlag btncolorchange" value="Edit">
                            </td>
                            <td style="text-align: center">
                                <input type="button" class="bordesbheader acnlag btncolorchange" value="Delete" (click)="delete(category)">
                            </td>
                        </tr>
                    </tbody>

                </table>

            </div>
        </div>

    </form>

</body>

<app-footer></app-footer>