@import "../../../styles.scss";

.bordesbheader {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.acnlag {
    width: 59px;
    height: 40px;
}

table {
  width: 100%;
}
.mat-table{
  border-radius: 8px;
  overflow:hidden !important;
}

.all-category{
  margin-top: 430px;

}

@media (min-device-width:990px) {
  .all-category {
    margin-top: 430px;
  }
}


@media (max-device-height: 768px) {
  .all-category {
    margin-top: 420px;

  }
}

@media (max-device-height: 768px ) {
  @media (max-device-width: 1024px) {
    .all-category {
      margin-top: 420px;
    }}
}
@media (max-device-width: 820px) {
@media (max-device-height: 1180px ) {
    .all-category {
      margin-top: 355px;
    }}
}




.mat-column-id{
  width: 10%;
}
.mat-column-name {
  width: 20%;
}
.mat-column-description {
 width: 20%;
}
.mat-column-edit {
  width: 10%;
}
.mat-column-delete {
  width: 10%;
}
