<app-header></app-header>

<div class="container">
  <h3 mat-dialog-title>
    <span>Add Stock</span>
  </h3>
  <form [formGroup]="formGroupProduct">
    <p>
      description
      <mat-form-field appearance="standard">
       <mat-label>description</mat-label>
        <input matInput placeholder="description" id="description" formControlName="description" required
               maxlength="50">
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      brand
      <mat-form-field appearance="standard">
        <mat-label>brand</mat-label>
        <input matInput placeholder="brand" id="brand" formControlName="brand" required>
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      stock
      <mat-form-field appearance="stock">
        <mat-label>stock</mat-label>
        <input matInput type="number" placeholder="stock" id="stock" formControlName="stock" required>
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      active
      <mat-form-field>
        <mat-label>active</mat-label>
        <mat-select formControlName="active">
          <mat-option value="Y">Yes</mat-option>
          <mat-option value="N">No</mat-option>
        </mat-select>
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      sku
      <mat-form-field appearance="sku">
        <mat-label>sku</mat-label>
        <input matInput placeholder="sku" id="sku" formControlName="sku" required>
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <p>
      category
      <mat-form-field>
        <mat-label>category</mat-label>
        <mat-select formControlName="idcategory">
          <mat-option *ngFor="let category of category" [value]="category.id">
            {{category.name}}
          </mat-option>
        </mat-select>
        <mat-error *ngIf="formGroupProduct.invalid">{{getErrorMessage()}}</mat-error>
      </mat-form-field>
    </p>
    <div mat-dialog-actions>
      <button mat-button color="primary" type="submit" (click)="save()" [disabled]="formGroupProduct.invalid">
        <span>Add Product</span>
      </button>
    </div>
  </form>
</div>


