@import "../../../styles.scss";


.add-category-device {
  margin-top: 430px;
  margin-left: 25px;
}

@media (min-device-width:990px) {
  .add-category-device {
    margin-top: 430px;
    margin-left: 25px;
  }
}

@media (max-device-height: 768px) {
  .add-category-device {
    margin-top: 420px;
    margin-left: 25px;

  }
}

@media (max-device-height: 1366px) {
  .add-category-device {
    margin-top: 420px;
    margin-left: 25px;
  }
}
