.type {
    text-size-adjust: 8;
    font-family: "Calibri";
    font-weight: bold;
}

.typefooter {
    bottom: 0;
    width: 100%;
    height: 40px;
    background-color: #1A3988;
  color: white;
    text-align: center;
}
