.bordesheader {
    margin-right: 55px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.alinearcentro {
    justify-content: center;
}

.alinearfin {
    justify-content: end;
  //display: flex;
  //flex-wrap: wrap;
}

.bordesbheader {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.acnlag {
    width: 59px;
    height: 40px;
}

//.mat-column-id {
//  width: 32px;
//  border-right: 1px solid currentColor;
//  padding-right: 24px;
//  text-align: center;
//}

table {
  width: 100%;
}

.mat-table{
  border-radius: 8px;
  overflow:hidden !important;
}

.table-stock {

  margin-left: 10px;
  width: 99%;
  margin-right: 10px;
  //margin-top: 38px;
  position: fixed;
  //overflow-x: scroll;
  //overflow-y: scroll;
}
.searh-style{
  flex-direction: row-reverse;
  margin-top: 1px;
  position: fixed;
}


//.mat-column-id{
//  width: 5%;
//
//}
//.mat-column-sku {
//  width: 15%;
//
//}
//.mat-column-name {
//  width: 15%;
//}
//
//.mat-column-description {
//  width: 20%;
//}
//.mat-column-brand {
//  width: 10%;
//}
//.mat-column-brand {
//  width: 10%;
//}
//.mat-column-brand {
//  width: 10%;
//}
//.mat-column-category {
//  width: 10%;
//}
//.mat-column-stock {
//  width: 5%;
//}
//.mat-column-updateDate {
//  width: 10%;
//}
//.mat-column-edit {
//  width: 10%;
//}
//.mat-column-delete {
//  width: 10%;
//}
