.bordesheader {
    margin-right: 55px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.alinearcentro {
    justify-content: center;
}

.alinearfin {
    justify-content: end;
  //display: flex;
  //flex-wrap: wrap;
}

.bordesbheader {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.acnlag {
    width: 59px;
    height: 40px;
}
table {
  width: 100%;
}

//.mat-column-id {
//  width: 32px;
//  border-right: 1px solid currentColor;
//  padding-right: 24px;
//  text-align: center;
//}
.mat-table{
  border-radius: 8px;
  overflow:hidden !important;
}
