<app-header></app-header>



<table style="width: 100%;" class="alinearfin">
    <tr>
        <td style="width: 90%;text-align:right;"><input type="text" placeholder="Search by Description, Sku, Category or ID" size="40" (keyup)="search($event)"></td>
        <td style="width: 5%;text-align:left"><img src="../../../assets/img/search.png" style="width: 20px;height:20px"></td>
        <td style="width: 5%;text-align:right">
          <button class="bordesbheader btncolorchange" style="width: 200px" (click)="addProduct()">
            Add Product
          </button>
        </td>
    </tr>
</table>
<div class="row mt-3" style=" overflow-x: scroll; padding-left: 10px; padding-right: 10px">
    <div class="col">
        <table datatable class="table table-bordered border-dark mt-3">
            <thead>
                <tr class="tittle">
                    <th width="20px" style="text-align: center;">
                        ID
                    </th>
                    <th width="100px;" style="text-align: center;">
                        Sku
                    </th>
                    <th width="100px;" style="text-align: center;">
                        Name
                    </th>

                    <th width="180px;" style="text-align: center;">
                        Description
                    </th>
                    <th width="180px;" style="text-align: center;">
                        Brand
                    </th>
                    <th width="150px;" style="text-align: center;">
                        Category
                    </th>
                    <th width="100px;" style="text-align: center;">
                        Stock
                    </th>
                    <th width="280px;" style="text-align: center;">
                        Update Date
                    </th>
                    <th width="280px;" style="text-align: center;">
                        Edit Product
                    </th>
                    <th width="280px;" style="text-align: center;">
                        Delete Product
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="normaltext" style="text-align: center;" *ngFor="let product of products; let i = index">
                    <td style="text-align: center;">{{ product.ID }}</td>
                    <td style="text-align: center;">{{ product.Sku }}</td>
                    <td style="text-align: center;">{{ product.Name }}</td>
                    <td style="text-align: center;">{{ product.Description }}</td>
                    <td style="text-align: center;">{{ product.Brand }}</td>
                    <td style="text-align: center;">{{ product.Category }}</td>
                    <td style="text-align: center;">{{ product.Stock }}</td>
                    <td style="text-align: center;">{{ product.UpdateDate }}</td>

                    <td style="text-align: center">
                        <button
                          class="bordesbheader acnlag btncolorchange" (click)="edit(product)">
                          Edit
                        </button>
                    </td>
                    <td style="text-align: center">
                        <button class="bordesbheader acnlag btncolorchange" (click)="openModal('deletetProduct')" style="text-align: center">
                          Delete
                        </button>
                    </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>

<app-footer></app-footer>
