.bordesheader {
    margin-right: 55px;
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.alinearcentro {
    justify-content: center;
}

.alinearfin {
    justify-content: end;
}

.bordesbheader {
    text-align: center;
    border: 2px solid gray;
    border-radius: 12px;
    padding: 5px;
}

.acnlag {
    width: 59px;
    height: 40px;
}