<app-header></app-header>
<table>
    <tr>
        <td><input type="text" placeholder="Search by Name, Sku, Category or ID" size="40"></td>
        <td><input type="button" value="Search" style="width: 100px;"></td>
        <td><input type="button" (click)="add()" value="Add Product" style="width: 200px;"></td>
    </tr>
</table>
<div class="row mt-2" style=" overflow-x: scroll;">
    <div class="col" >
        <table  datatable
           >
            <thead>
                <tr>
                    <th width="20px" style="text-align: center;">
                       ID
                    </th><th width="100px;" style="text-align: center;">
                        Sku
                     </th>
                     <th width="180px;" style="text-align: center;">
                        Description
                     </th>
                     <th width="180px;" style="text-align: center;">
                        Brand
                     </th>
                     <th width="150px;" style="text-align: center;">
                        Category
                     </th>
                     <th width="100px;" style="text-align: center;" >
                        Stock
                     </th>
                     <th width="100px;" style="text-align: center;">
                        Update Date
                     </th>
                     <th width="280px;"  style="text-align: center;">
                        Edit Product
                     </th>
                     <th width="280px;" style="text-align: center;">
                        Delete Product
                     </th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let product of products; let i = index" >
                    <td style="text-align: center;">{{ product.ID }}</td>
                    <td style="text-align: center;">{{ product.Sku }}</td>
                    <td style="text-align: center;">{{ product.Description }}</td>
                    <td style="text-align: center;">{{ product.Brand }}</td>
                    <td style="text-align: center;">{{ product.Category }}</td>
                    <td style="text-align: center;">{{ product.Stock }}</td>
                    <td style="text-align: center;">{{ product.UpdateDate }}</td>

                    <td style="text-align: center;">
                       <input type="button" value="Edit" style="background-color: rgb(2, 139, 255);color:aliceblue;" >
                    </td>
                    <td style="text-align: center;">
                        <input type="button" value="Delete" style="text-align: center;background-color: rgb(2, 139, 255);color:aliceblue;">
                     </td>

                </tr>
            </tbody>
        </table>
    </div>
</div>
